<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
        <% include partials/nav.ejs %>
    <h1>this is contact page</h1>
    <p>mailto:randikawann@gmail.com</p>
</body>
</html>