<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
</head>
<body>
    <h1>this is profile page</h1>
    <!-- edit this ejs file to add params -->
    <p>ejs profile page welcome <%= person %></p>
</body>
</html>