<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
</head>
<body>
    <h1>this is profile page</h1>
    
    <p>ejs profile page welcome <%= person %></p>

    <p><strong>Name :</strong> <%= data.name %></p>
    <p><strong>Age :</strong> <%= data.age %></p>

</body>
</html>