<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
</head>
<body>
    <h1>this is profile page</h1>
    
    <h1>ejs profile page welcome <%= person %></h1>

    <p><strong>Name :</strong> <%= data.name %></p>
    <p><strong>Age :</strong> <%= data.age %></p>

    <h1>Hobies</h1>

    
    <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
    </ul>

</body>
</html>